<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>
  </head>

  <body>
    <form action="/index.html" method="POST" enctype="multipart/form-data" data-controller="form">
      <input type="text" value="" name="name" />
      <fieldset>
        <button class="submit1" type="submit" value="submit1">submit1</button>
      </fieldset>
      <fieldset>
          hannibal Smoth
        <button class="submit2" type="submit" value="submit2">submit22</button>
      </fieldset>
      <fieldset>
        <!--<div class="submit3">submit3</div>-->
      </fieldset>asdf
      <select
        class="form-select addresses js-shipping-form-province"
        id="checkout_form_province"
        name="provinceCode"
      >
        <option value="B">Buenos Aires</option>

        <option value="K">Catamarca</option>

        <option value="H">Chaco</option>

        <option value="U">Chubut</option>

        <option value="C">Ciudad Autónoma de Buenos Aires</option>

        <option value="X">Córdoba</option>

        <option value="W">Corrientes</option>

        <option value="E">Entre Ríos</option>

        <option value="P">Formosa</option>

        <option value="Y">Jujuy</option>

        <option value="L">La Pampa</option>

        <option value="F">La Rioja</option>

        <option value="M">Mendoza</option>

        <option value="N">Misiones</option>

        <option value="Q">Neuquén</option>

        <option value="R">Río Negro</option>

        <option value="A">Salta</option>

        <option value="J">San Juan</option>

        <option value="D">San Luis</option>

        <option value="Z">Santa Cruz</option>

        <option value="S">Santa Fe</option>

        <option value="G">Santiago Del Estero</option>

        <option value="V">Tierra Del Fuego</option>

        <option value="T">Tucumán</option>
      </select>
    </form>
  </body>
</html>
